Repository hypercliq/shutdown-cleanup: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --env=mocha --plugin=mocha --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "xo --env=mocha --plugin=mocha --fix",
  "*.{json,md,yml}": "prettier --write"
}

refactor(handler): implement unique identifier generation for handlers (#1613)
  index.js
Due: xo --env=mocha --plugin=mocha --fix

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

build(deps): update dependencies (#1614)
  package-lock.json
  package.json
Due: prettier --write

fix(pages): add GitHub Pages deployment workflow when a release is created
  .github/workflows/npmpublish.yml
Due: prettier --write

fix(pages): add GitHub Pages deployment workflow when a release is created (#1615)
  .github/workflows/npmpublish.yml
Due: prettier --write

chore(release): v8.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(release): v8.0.3 (#1616)
  package-lock.json
  package.json
Due: prettier --write

fix(ci): add permissions for npm publishing job
  .github/workflows/npmpublish.yml
Due: prettier --write

fix(ci): add permissions for npm publishing job (#1617)
  .github/workflows/npmpublish.yml
Due: prettier --write

test: enhance subprocess testing with new helper functions and assertions
  package.json
  tests/index.test.js
  tests/subprocess-helper.js
  tests/subprocess.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor(shutdown): streamline signal handling and improve shutdown coordination
  index.js
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix

docs: update DEVGUIDE and index.d.ts to clarify shutdown behavior and signal handling
  DEVGUIDE.md
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor(shutdown): snapshot handlers at shutdown
  DEVGUIDE.md
  index.d.ts
  index.js
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

fix: make failed registration leave state unchanged
  DEVGUIDE.md
  index.d.ts
  index.js
  tests/index.test.js
  tests/types.ts
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: update Node.js version requirements and enhance CI workflows
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .nvmrc
  CONTRIBUTING.md
  DEVGUIDE.md
  README.md
  package-lock.json
  package.json
  scripts/test-consumer.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

docs: clarify shutdown timeout behavior and limitations in DEVGUIDE and index.d.ts
  DEVGUIDE.md
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

chore: update CI workflows and improve linting and testing processes
  .c8rc.json
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .lintstagedrc.json
  .prettierignore
  CONTRIBUTING.md
  eslint.config.js
  package.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: add package smoke test script and update check command
  CONTRIBUTING.md
  package.json
  scripts/test-package.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

chore: update release workflow to publish only to npm and add recovery procedures
  .github/workflows/npmpublish.yml
  CONTRIBUTING.md
  README.md
  RELEASING.md
  package.json
  scripts/release.js
  tests/release.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

docs: enhance DEVGUIDE and README with detailed usage examples and clarifications
  DEVGUIDE.md
  README.md
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

chore: clean up comments and improve workflow configurations in CI files
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .gitignore
  _config.yml
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

docs: update CONTRIBUTING and AGENTS files with setup instructions and release guidelines
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: change Dependabot schedule from daily to weekly for GitHub Actions and npm
  .github/dependabot.yml
Due: prettier --write

feat: enhance subprocess handling
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .github/workflows/platform-validation.yml
  CONTRIBUTING.md
  DEVGUIDE.md
  README.md
  RELEASING.md
  SUPPORT.md
  index.d.ts
  index.js
  package.json
  scripts/test-consumer.js
  scripts/test-package.js
  tests/index.test.js
  tests/signal-fixture.js
  tests/signal-policy.js
  tests/signals.test.js
  tests/subprocess-helper.js
  tests/subprocess.test.js
  tests/test-script.js
  tests/windows-console.cs
  tests/windows-console.ps1
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: update README for clarity and conciseness; remove outdated support and releasing documents
  .github/workflows/npmpublish.yml
  .gitignore
  .prettierignore
  AGENTS.md
  CONTRIBUTING.md
  DEVGUIDE.md
  README.md
  RELEASING.md
  SUPPORT.md
  _config.yml
Due: prettier --write

refactor: streamline testing scripts and improve package validation process
  .github/workflows/npmpublish.yml
  AGENTS.md
  CONTRIBUTING.md
  package.json
  scripts/package-consumer.js
  scripts/test-consumer.js
  scripts/test-package.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: consolidate workflows and enhance package validation process; add archive verification
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .github/workflows/package-validation.yml
  .github/workflows/platform-validation.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/archive.js
  scripts/pages-release.js
  scripts/release.js
  scripts/test-package.js
  tests/release.test.js
  tests/workflows.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: enhance Windows signal handling by adding Ctrl+C inheritance control
  CONTRIBUTING.md
  tests/signals.test.js
  tests/windows-console.cs
  tests/windows-console.ps1
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: update platform validation workflow to include macOS support and enhance job structure
  .github/workflows/platform-validation.yml
  CONTRIBUTING.md
  DEVGUIDE.md
  tests/workflows.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

docs: streamline documentation for clarity and conciseness; remove redundant information
  AGENTS.md
  CONTRIBUTING.md
  DEVGUIDE.md
  README.md
Due: prettier --write

chore: update test scripts; remove deprecated consumer scripts
  .github/workflows/package-validation.yml
  .github/workflows/platform-validation.yml
  CONTRIBUTING.md
  eslint.config.js
  package.json
  scripts/package-consumer.js
  scripts/test-consumer.js
  scripts/test-package.js
  tests/workflows.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: remove signal policy file and update related tests for clarity
  CONTRIBUTING.md
  tests/signal-policy.js
  tests/signals.test.js
  tests/workflows.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

Maintenance Jobs (#1655)
  .c8rc.json
  .github/dependabot.yml
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .github/workflows/package-validation.yml
  .github/workflows/platform-validation.yml
  .gitignore
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  AGENTS.md
  CONTRIBUTING.md
  DEVGUIDE.md
  README.md
  _config.yml
  eslint.config.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  scripts/archive.js
  scripts/pages-release.js
  scripts/release.js
  scripts/test-package.js
  tests/index.test.js
  tests/release.test.js
  tests/signal-fixture.js
  tests/signals.test.js
  tests/subprocess-helper.js
  tests/subprocess.test.js
  tests/test-script.js
  tests/types.ts
  tests/windows-console.cs
  tests/windows-console.ps1
  tests/workflows.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

Unblock CodeQL C# analysis by adding a minimal build target (#1659)
  tests/windows-console.csproj
Due: none

chore(release): update version to 9.0.0
  package-lock.json
  package.json
Due: prettier --write

chore: update devDependencies to latest versions
  eslint.config.js
  package-lock.json
  package.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

chore: update devDependencies to latest versions (#1661)
  eslint.config.js
  package-lock.json
  package.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write
