Repository hypercliq/shutdown-cleanup: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --env=mocha --plugin=mocha --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "xo --env=mocha --plugin=mocha --fix",
  "*.{json,md,yml}": "prettier --write"
}

build: update test and lint scripts in package.json, add `xo` options
  package.json
Due: prettier --write

chore: :package: package upgrades
  .github/workflows/node.js.yml
  .npmrc
  package-lock.json
  package.json
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

Pkg (#1510)
  .github/workflows/node.js.yml
  .npmrc
  package-lock.json
  package.json
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

chore(release): :bookmark: 6.0.4
  package-lock.json
  package.json
Due: prettier --write

feat: only async handlers
  .github/dependabot.yml
  .github/workflows/npmpublish.yml
  .lintstagedrc.json
  DEVGUIDE.md
  README.md
  eslint.config.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  prettier.config.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: only async handlers (#1540)
  .github/dependabot.yml
  .github/workflows/npmpublish.yml
  .lintstagedrc.json
  DEVGUIDE.md
  README.md
  eslint.config.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  prettier.config.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: one listener per signal, multiple handlers
  index.js
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix

feat: one listener per signal, multiple handlers (#1542)
  index.js
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix

test: add multi-phase check
  package-lock.json
  package.json
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

test: add multi-phase check (#1543)
  package-lock.json
  package.json
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

test: default signals
  index.js
  package-lock.json
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: remove exit and uncatchable signals
  index.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix

docs: new and improved API
  DEVGUIDE.md
  README.md
Due: prettier --write

feat: new and improved API
  index.d.ts
  index.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix

chore: bumped version
  package-lock.json
  package.json
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

Feat/new api (#1547)
  DEVGUIDE.md
  README.md
  index.d.ts
  index.js
  package-lock.json
  package.json
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

Update DEVGUIDE.md
  DEVGUIDE.md
Due: prettier --write

Update DEVGUIDE.md (#1548)
  DEVGUIDE.md
Due: prettier --write

fix: add signal-specific handler termination logic and corresponding tests
  index.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix

fix: improve validation for phase, shutdown timeout, and custom exit code
  index.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix

fix: export types and interfaces in index.d.ts for better accessibility
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix

docs: update links to the Developer Guide in README.md for consistency
  README.md
Due: prettier --write

docs: update Developer Guide and README links for consistency and clarity
  DEVGUIDE.md
  README.md
  _config.yml
Due: prettier --write

chore: update Node.js version to 24 in workflows and documentation
  .github/workflows/node.js.yml
  .github/workflows/npmpublish.yml
  .nvmrc
  DEVGUIDE.md
  package-lock.json
  package.json
Due: prettier --write

chore: update devDependencies to latest versions
  eslint.config.js
  package-lock.json
  package.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor: improve error handling and state management in shutdown process
  index.js
  tests/index.test.js
  tests/test-script.js
Due: xo --env=mocha --plugin=mocha --fix

test: update stop strategy test to handle async behavior and validate stderr output
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix

refactor: enhance ESLint configuration and improve error handling in tests
  eslint.config.js
  index.js
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix

fix: update getExitCode function parameter for clarity and consistency
  index.js
Due: xo --env=mocha --plugin=mocha --fix

chore(release): bump version to 8.0.0
  package.json
Due: prettier --write

chore: update package-lock.json for version 8.0.0 and dependency upgrades
  package-lock.json
Due: prettier --write

chore: update package description and scripts; refactor tests to use Node.js assert module
  eslint.config.js
  package-lock.json
  package.json
  tests/index.test.js
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

docs: update README for clarity and structure; enhance quick start and features sections
  README.md
Due: prettier --write

chore: add conventional-commits-parser dependency to package-lock.json
  package-lock.json
Due: prettier --write

chore: update version to 8.0.2 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

refactor(types): enhance handler options and error handling strategy
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix

refactor(types): enhance handler options and error handling strategy (#1611)
  index.d.ts
Due: xo --env=mocha --plugin=mocha --fix

feat: added type checks
  DEVGUIDE.md
  index.d.ts
  package-lock.json
  package.json
  tests/types.ts
  tsconfig.types-test.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

feat: added type checks (#1612)
  DEVGUIDE.md
  index.d.ts
  package-lock.json
  package.json
  tests/types.ts
  tsconfig.types-test.json
Due: xo --env=mocha --plugin=mocha --fix, prettier --write

refactor(handler): implement unique identifier generation for handlers
  index.js
Due: xo --env=mocha --plugin=mocha --fix
